{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для вашего аккаунта на {{ site_name }}.{% endblocktranslate %}

{% translate "Перейдите по ссылке ниже и создайте новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Спасибо за использование нашего сайта!" %}

{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}
{% endautoescape %}